@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:400,700&display=swap');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$break-sm: 800px;
$break-md: 1000px;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $primary-font;
    color: $primary-color;
    transition: all 0.2s ease-in-out;
    line-height: 1.45;
}

.header {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

    @media screen and (max-width: $break-md) {
        background-color: $black-color;
    }
}

.container {
    max-width: 1500px;
    margin: auto;
}

.section {
    padding: 6rem 4rem;
    background-color: $white-color;

    &--gray {
        background-color: $gray-color;
    }

    @media screen and (max-width: $break-sm) {
        padding: 4rem 2rem;
    }

    &__heading {
        text-align: center;
        margin-bottom: 4rem;

        h2 {
            font-family: $primary-font;
            font-size: 2.5rem;
            margin: 0.5rem 0;
            text-transform: uppercase;
            color: $primary-color;

            &:after {
                content: '';
                display: block;
                height: 3px;
                background: $primary-color;
                width: 70px;
                margin: 1.4rem auto;
            }
        }

        p {
            margin-top: 1.7rem;
            font-family: $secondary-font;
        }
    }
}

.btn {
    padding: .8rem 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .01em;
    border-radius: 3px;
    line-height: 1.5;

    &--primary {
        color: $white-color;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}