@import 'colors';
@import 'core';
@import 'navbar';

.intro {
    display: flex;
    height: 700px;
    background: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,0.8)), url('../assets/img/bg.jpg') no-repeat 100% fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;

    &__container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;

      img {
        max-height: 10rem;
        margin-bottom: 1rem;
      }

      h1 {
        font-weight: 700;
        font-size: 4rem;
        color: $white-color;
        margin: 0.5rem;
        text-align: center;

        @media screen and (max-width: $break-md) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1.2rem;
        color: $white-color;
        text-align: center;
      }
    }
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .service-item {
    padding: 1rem;
    max-width: 400px;
    margin-bottom: 1rem;
    
    &__icon {
      float: left;
      background: $primary-color;
      padding: 16px;
      border-radius: 50%;
      transition: 0.5s;

      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.5rem;
        color: $white-color;
      }
    }

    &__title {
      margin-left: 80px;
      font-weight: 700;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    &__description {
      margin-left: 80px;
      line-height: 1.5;
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .content {
    max-width: 500px;
    text-align: left;

    @media screen and (max-width: $break-md) {
      text-align: center;
    }

    h3 {
      font-family: 'Montserrat';
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    p {
      line-height: 1.5rem;
      margin-bottom: 0;
    }
  }

  &__art {
    object-fit: cover;
    max-width: 450px;
    max-height: 500px;
    margin-left: 6rem;

    @media screen and (max-width: $break-md) {
      margin-top: 3rem;
      margin-left: 0;
    }
  }
}